@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
     <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    
</head>



<body >

  <section>

       
    <div class=" img-rigth">
          <div class="container-content">
            <img src="https://thumbs.files.fm/thumb_show.php?i=jjadf2n5z&view" class="img-fluid"/>

           </div>
        </div>
  </section>
  <br/>
  <br/>
  <br/>
    <div class="text-center">
        <h2 class="elementor-heading-title" style="font-weight:1000;">
            BIENVENIDOS
        </h2>

        <br />
        <br />
        <br />

        <h2 class="elementor-heading-title" style="font-weight:1000;">
          ¿QUIÉNES SOMOS?
      </h2>
        <center>
            Somos una clínica dental que brinda nuestro servicio a cada uno de los pacientes, los especialistas cuentan con una gran experiencia ya que brindamos 9 años ayudando a reconstruir una sonrisa para mejorar tu estilo de vida, seremos tu mejor opción para el tratamiento que necesites.
      </center>

        <br />
        <br />
        <br />

        <h2 class="elementor-heading-title" style="font-weight:1000;">
            MISIÓN 
        </h2>
        <center>
            Otorgar atención médica integral de calidad con base en la excelencia de servicio y al paciente en un ambiente familiar, tranquilo y profesional.
        </center>

        <br />
        <br />
        <br />

        <h2 class="elementor-heading-title" style="font-weight:1000;">
            VISIÓN
        </h2>
        <center>
            Ser una clínica dental de vanguardia conformada por un equipo de odontólogos de primer nivel, comprometidos con su actualización continua, beneficiando de esta manera a todas las personas que nos confía su salud dental.
        </center>

  </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>




</html>
